<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <title>Tuya Switches</title>
        <style>
            .w3-button {
                margin: 10px;
                min-width: 300px;
                max-width: 50%;
                /* Other button styles */
            }
            
            .button:hover {
                background-color: #3e8e41;  
            }
    
        </style>
    </head>
    <body>
        <div class="w3-container w3-teal w3-center">
            <h1>Babrbie Switches</h1>
        </div>
        <div class="w3-center w3-row-padding w3-panel">
            {% for switch in switches %}
            <button class="w3-button w3-round-xxlarge
            {% if switch[2] == True %} 
                w3-green 
            {% else %}
                w3-red 
            {% endif %}
            w3-ripple" onclick="toggleSwitch('{{ device_id }}')">
                <h1>{{ switch[1] }}</h1>
                <h3>{{ switch[0] }}</h3>{{ switch[3] }} V
            </button>
            {% endfor %}
        </div>
        <script>
            function toggleSwitch(device_id) {
                window.location.href = "/toggle/" + device_id;
            }
        </script>
    </body>
</html>
